[Unit]
Description=Weather Underground Proxy
After=network.target

[Service]
Type=simple
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/pws_exporter

[Install]
WantedBy=multi-user.target
