[Unit]
Description=Weather Underground Proxy
After=network.target

[Service]
Type=simple
WorkingDirectory=/tmp
EnvironmentFile=-/etc/sysconfig/wuproxy
EnvironmentFile=-/etc/default/wuproxy
ExecStart=/usr/local/bin/pws_exporter $OPTIONS

[Install]
WantedBy=multi-user.target
